# Data Analysis of the Titanic data set

##### Questions to answer:

1. What factors made people more likely to survive?
2. How many passengers had one or more children?
3. What was the minimum, maximum and mean fare for respective classes?
4. How many passengers embarked on S,C or Q?
5. What was the minimum and maximum age of the passengers?

In [13]:
import pandas as pd

# Reading the data and cleaning it
titanic_data = pd.read_csv('titanic-data.csv')

# Dropping the Nan values in 'Age' column.
clean_data = titanic_data.dropna(subset=['Age'])

# Since we don't need 'Cabin' Column,
# we remove it.
new_data = clean_data.drop('Cabin', axis=1)

survivors = new_data.loc[new_data['Survived'] == 1]

In [177]:
# Number of people embarked
# on S, C and Q.
S_list = []
C_list = []
Q_list = []

max_age = int(new_data['Age'].max())
min_age = int(new_data['Age'].min())
max_fare = new_data['Fare'].max()
min_fare = new_data['Fare'].min()
mean_fare = new_data['Age'].mean()

for value in new_data['Embarked']:
    if value == 'S':
        S_list.append(value)
    elif value == 'C':
        C_list.append(value)
    elif value == 'Q':
        Q_list.append(value)

In [183]:
female = 0
male = 0
total_survivors = len(survivors)
for people in survivors['Sex']:
    if people == 'female':
        female = female + 1
    elif people == 'male':
        male = male + 1

youngest_survivor = int(survivors['Age'].min())
oldest_survivor = int(survivors['Age'].max())
# Mean age of survivors
mean_survivor_age = survivors['Age'].mean()

In [184]:
# Out of 290 survivors, 115 had siblings
survivor_children = 0
for children in survivors['SibSp']:
    if children > 0:
        survivor_children = survivor_children + 1

In [187]:
print "People boarding at S : ", len(S_list)
print "People boarding at Q : ", len(Q_list)
print "People boarding at C : ", len(C_list)
print "Max Fare($) : ", max_fare
print "Min Fare($) : ", min_fare
print "Mean Fare($) : ", mean_fare
print "Max Age(years) : ", max_age
print "Min Age(years) : ", min_age
# print "Children : ", siblings
print "Total Survivors : ", total_survivors
print "Female Survivors : ", female
print "Male Survivors : ", male
print "Yougest Survivor's age : ", youngest_survivor
print "Oldest Survivor's age : ", oldest_survivor
# print "Number of survivors having children : ", survivor_siblings
print "Mean age of survivors : ", mean_survivor_age

People boarding at S :  554
People boarding at Q :  28
People boarding at C :  130
Max Fare($) :  512.3292
Min Fare($) :  0.0
Mean Fare($) :  29.6991176471
Max Age(years) :  80
Min Age(years) :  0
Total Survivors :  290
Female Survivors :  197
Male Survivors :  93
Yougest Survivor's age :  0
Oldest Survivor's age :  80
Mean age of survivors :  28.3436896552

In [182]:
# 97 out of the 290 survivors were between the age 30 and 50.
count = 0
for age in survivors['Age']:
    if age > 30 and age < 50:
        count = count + 1
        
print count

97